@media only screen and (max-width: 768px)
{
.about-section .image-column .image-box {
    
    display: none;
}
.about-section .content-column {
    position: relative;
    margin-bottom: 44px;
    margin-top: -40px;
}
.page-title .bread-crumb {
    position: relative;
    padding-top: 12px;
}
}

@media only screen and (max-width: 767px)
{
.contact-page-section
{
    padding: 5px 0 20px;
}
}

