@media screen and (max-width: 768px) {
		.row1 > * {
    flex-shrink: 0;
    width: 50%;
    max-width: 50%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
	display:inline-block !important;
}
.pc-container .pcoded-content {
    padding: 0px;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.9rem);
    padding-left: var(--bs-gutter-x, 0.9rem);
    margin-right: auto;
    margin-left: auto;
}
.card-bodyme {
    flex: 1 1 auto;
    padding: 10px 7px;
}
}
	@media screen and (max-width: 568px) { 
	.row1 > * {
    flex-shrink: 0;
    width: 50%;
    max-width: 50%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
	display:inline-block !important;
}
.pc-container .pcoded-content {
    padding: 0px;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.9rem);
    padding-left: var(--bs-gutter-x, 0.9rem);
    margin-right: auto;
    margin-left: auto;
}
.card-bodyme {
    flex: 1 1 auto;
    padding: 10px 7px;
}
}